.cart{
    width: 100%;
    min-height: 500px;
    float: left;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.cart-container{
    float: left;
    display: flex;
    justify-content: space-between;
}
.cart-left {
    width: 600px;
    float: left;
    display: flex;
    flex-direction: column;
}
.cart-item{
    width: 700px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    margin-top: 15px;
}
.cart-item-img{
    height: 100px;
    margin-right: 20px;
}
.cart-item-details{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
}
.cart-item-counter{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 20px;
}
.cart-item-price{
    font-size: 14px;
    margin-top: 45px;
    margin-right: 30px;
}
.cart-item-delete{
    width: 20px;
    background-color: #EDEFF6;
    text-align:center;
    font-size: 22px;
    color: #B0B3BC;
    border-radius: 4px;
    cursor: pointer;
}
.cart-item-info{
    width: 20px;
}
.cart-right{
    width: 400px;
    height: 220px;
    float: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 30px;
}
.cart-right hr{
    background-color: #EDF2FF; 
    width: 300px;
    height: 1px;
    border: none;
}
.cart-total-btn{
    width: 370px;
    height: 40px;
    background-color: #4376FB;
    border-radius: 5px;
    border: 0px solid #4376FB;
    color: white;
    margin-top: 20px;
}
.cart-total-price{
    margin-top: 10px;
}