.products {
    width: 100%; 
    min-height: 500px;
    float: left;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.products-container{
    float: left;
    display: flex;
    flex-direction: column;
    color: #172853;
    padding-bottom: 40px;
}
.products-container h4{
    text-align: center;
}
.products-item{
    width: 350px;
    height: 150px;
    float: left;
    display: flex;
    align-items: flex-start;
    background-color: white;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
}
.products-item-info {
    width: 30px;
}
.products-item-cart img{
    width: 30px;
}
.products-item-details{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    font-size: 12px;
}
.products-item-cart{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-item-cart img{
    cursor: pointer;
}
.category-name {
    color: #172853;
}
.title {
    cursor: pointer;
    text-decoration: none;
    color: grey;
}
