.container {
    width: 80%;
    float: left;
}
.header-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.header {
    width:100%;
    float: left;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.menu-header{
    width: 40%;
    display: flex;
    align-items: center;
    float: left;
}
.header a{
    color: #172853;
    text-decoration: none;
    font-size: 16px;
}
.header a:hover {
    color: #B0B3BC;
}
.menu-header a:not(:first-child){
    margin-left: 50px;
}
.logo-header{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-header img{
    margin-left: 45px;
}
.logo-header input{
    width: 220px;
    height: 35px;
    padding-left: 10px;
    border: none;
}
.header_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #172853;
}
.header-profile a{
    margin-right: 20px;
}
